@centered: false;

//fonts
@font-default: 'Tiempos',sans-serif;
@font-heading: 'Tiempos Fine', serif;
@font-alt: 'Space Grotesk', sans-serif;

:root {
  //core colours
  --c-grey-x-dark: #333333;
  --c-grey-dark: lighten(#333333, 10%);
  --c-grey-mid: lighten(#333333, 25%);
  --c-grey: lighten(#333333, 50%);
  --c-grey-light: lighten(#333333, 70%);
  --c-grey-x-light: lighten(#333333, 65%);
  --c-grey-xx-light: lighten(#333333, 75%);


  //new core colours
  --c-border: #ccc;

  --c-text: #333333;
  --c-text-light: #666666;

  --c-table-background: transparent;
  --c-table-border: var(--c-border);

  --c-component-background: white;
  --c-component-background-tint: #F1F1F1;

  --c-link: #333333;
  --c-link-hover: #023047;
  --c-link-focus: #0573aa;

  --box-shadow: 0 0 20px fade(black, 10%);

  //this could be a forms thing?
  --c-link-dark: var(--c-background-dark);

  //theme colours
  --c-theme-1: #8ECAE6;
  --c-theme-2: #219EBC;
  --c-theme-3: #FFB703;
  --c-theme-4: #FB8500;
  --c-background-dark: #023047;

  //component colours
  --c-error:   #ff0054;
  --c-error-dark: darken(#ff0054, 15%);
  --c-error-light: lighten(#ff0054, 15%);
  
  --c-code-background: #f5f5f5;
  --c-code-border: #e0e0e0;

  --c-callout-background: lighten(#FFB703, 45%);
  --c-callout-border: #FFB703;
  --c-callout-text: #333333;

  
}