@font-default: 'notosans', sans-serif;
@font-heading: 'notoserif', serif;
@font-alt: 'notomono', monospace;

.make-colours(@basecolour, @variablestub, @alpha) when (@alpha > 0) {
  @{variablestub}-@{alpha}: fade(@basecolour, unit(@alpha, '%'));
  .make-colours(@basecolour, @variablestub, @alpha - 5);
}

:root {

  --c-red: #E41426;
  .make-colours(#E41426, --c-red, 100);

  --c-grey: #1a1a1a;
  .make-colours(#1a1a1a, --c-grey, 100);

  --c-tint: #F1F1F1;

  //core colours
  --c-text: var(--c-grey);
  --c-text-light: var(--c-grey-70);
  --c-border: var(--c-grey-40);

  --c-link: var(--c-red);
  --c-link-hover: var(--c-red);
  --c-link-focus: var(--c-red);

  --c-error: var(--c-red);
  --c-error-focus: var(--c-red-50);

  --box-shadow: 8px 8px 0 fade(black, 20%);
  --border-radius: 0;
  --bullet: ~"url(@{path-images}bullet.svg)";

  //component settings
  // -----------------

  //site header
  --c-site-header-background: transparent;
  --c-site-header-border-bottom: none;

  //site footer
  --c-site-footer-background: transparent;
  --c-site-footer-border-top: none;

  //callouts
  --c-callout-background: var(--c-tint);
  --c-callout-border: var(--c-border);

  //code
  --c-code-background: var(--c-tint);
  --c-code-border: 1px solid var(--c-border);
 
  //hr
  --c-hr: var(--c-border);

  //tables
  --table-border: none;
  --c-table-background: none;
  --table-td-border: 1px solid var(--c-border);
  --table-padding: var(--space-xs);
  --table-shadow: none;

  //cards
  --card-background: var(--c-tint);
  --card-cover-blend: luminosity;

  //form
  --c-form-tint: var(--c-grey-90);
  --c-form-focus: var(--c-grey-20);

  // breadcrumbs
  --c-breadscrumbs-arrow: var(--c-red);

  //subnav
  --subnav-border: 1px solid var(--c-border);
  --subnav-background: white;
  --subnav-tint: var(--c-tint);
}