---
title: Type scale
---
<p class="type-scale--2">Type scale step -2</p>
<p class="type-scale--1">Type scale step -1</p>
<p class="type-scale-0">Type scale step 0</p>
<p class="type-scale-1">Type scale step 1</p>
<p class="type-scale-2">Type scale step 2</p>
<p class="type-scale-3">Type scale step 3</p>
<p class="type-scale-4">Type scale step 4</p>
<p class="type-scale-5">Type scale step 5</p>
<p class="type-scale-6">Type scale step 6</p>
<p class="type-scale-7">Type scale step 7</p>
<p class="type-scale-8">Type scale step 8</p>
<p class="type-scale-9">Type scale step 9</p>
<p class="type-scale-10">Type scale step 10</p>