.list {
  list-style: none;

  li:after {
    content: "";
    clear: both;
    display: table;
  }

  li {
    &:not(:only-child) {
      margin-bottom: var(--space-m);
      padding-bottom: var(--space-m);
      border-bottom: 2px dashed var(--c-blue);
    }
    &:last-child {
      border-bottom: none;
    }

    &:nth-child(2n-1) {
      border-color: var(--c-yellow);
    }

  }
}