---
title: Figure
---

{% figure {
  url: '/assets/images/articles/brownhills/middleton-bridge.jpeg',
  caption: 'A photo of a wonderful looking bridge, on its brick facade there’s a nameplate that reads “Middleton Bridge”.',
  classes: 'example-class',
  link: '#'
} %}