---
title: Img
---

{% img {
  url: '/assets/images/articles/brownhills/middleton-bridge.jpeg', 
  attrs: {
    'class': 'example-class',
    'data-this': 'that'
  },
  transform: 'square_small',
  isLocal: false
} %}