---
title: Sub Navigation
---
{% from 'subNavigation.njk' import subNavigation as subNavigation %}

{{ subNavigation({
  id: 'example-subNavigation',
  title: 'Example Sub Navigation',
  root: '/',
  items: [
    {
      title: 'Recent articles',
      items: [
        {
        title: 'hi',
        slug: 'test'
        }
      ]
    }
  ]
}) }}