---
title: Sub Navigation
---
{% from 'components/subNavigation.njk' import subNavigation as subNavigation %}

{{ subNavigation({
  id: 'example-subNavigation',
  title: 'Example Sub Navigation',
  root: '',
  items: [
    {
      title: 'Menu section one',
      items: [{
        title: 'Item one',
        slug: '#'
      }, {
        title: 'Item two',
        slug: '#'
      }]
    }, {
      title: 'Menu section two',
      items: [{
        title: 'Item one',
        slug: '#'
      }, {
        title: 'Item two',
        slug: '#'
      }]
    }
  ]
}) }}