{% extends 'layouts/wrapper.njk' %}

{% block pageTitle %}Isles of Scilly 2025 -  Jon’s website{% endblock %}

{% block main %}
  <section class="container space--margin-bottom-l prose">
    <h1>Isles of Scilly 2025</h1>
    <p class="type-scale-1">Seven glorious days celebrating Grandmum’s birthday.</p>
  </section>
{% endblock %}