{% extends 'layouts/wrapper.njk' %}

{% block pageTitle %}Isles of Scilly 2025 -  Jon’s website{% endblock %}

{% block main %}
<section class="container">
  <header class="section-header space--margin-bottom-l">
    <h1>Isles of Scilly 2025</h1>
</section>
{% endblock %}