{% extends 'layouts/wrapper.njk' %}
{% from 'components/meta.njk' import meta as meta %}
{% from 'components/tags.njk' import tags as displayTags %}
{% from 'components/title.njk' import title as pagetitle %}
{% from 'components/breadcrumbs.njk' import breadcrumbs as breadcrumbsList %}
{% from 'components/articleCard.njk' import articleCard as articleCard %}
{% from 'components/card.njk' import card as card %}

{% block main %}
<main class="container article" id="main">
<header class="article-header">
{{ breadcrumbsList({
  classes: 'space--margin-bottom-s',
  items: breadcrumbs
}) }}
{{ pagetitle({
  classes: 'space--margin-bottom-l',
  text: title
}) }}
<div class="prose prose--flow space--margin-bottom-l">
<p class="type-scale-1">{{ summary or introduction }}</p>
</div>
</header>
<footer class="article-footer">
{{ meta({
  items: [
    {
      key: 'Originally published',
      value: date | date('dddd D MMMM YYYY') 
    } if not created and date, {
      key: 'Originally published',
      value: created | date('dddd D MMMM YYYY') 
    } if created, {
      key: 'Last updated',
      value: date | date('dddd D MMMM YYYY')
    } if created, {
      key: 'Article status',
      value: statusNames[status].title + '. <a href="/about/#article-status">What’s this?</a>'
    } if status, {
      key: 'Revision',
      value: revision
    } if revision, {
      key: 'Subjects',
      value: displayTags(tags)
    } if tags
  ]
}) }}
</footer>

<div class="article-content prose prose--flow">
  {{ content | safe }}
</div>

{# contact invite #}
{% if showContactInvite %}
  <div class="invite article-invite">
    <header class="invite-header">
      <h2>What did you think?</h2>
    </header>
    <div class="invite-body prose">
      <p>I’d love to hear what your thoughts about this article.</p>
    </div>
    <a href="/contact?article={{ slug }}" class="invite-link">Send me a message and let me know.</a>
  </div>
  {% endif %}

{# similar posts #}
{% if similarPosts | length > 0 %}
<nav class="article-related" aria-labelledby="similar-posts">
  <h2 id="similar-posts" class="space--margin-bottom-s">You might also like</h2>
  <ul class="list list--grid">
  {% for post in similarPosts %}
  <li>
    {{ articleCard(post) }}
  </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}
</footer>
</main>
{% endblock %} 