{% extends "layouts/wrapper.njk" %}

{% block content %}
<ul class="tags">
  {% for tag in collections.tags | reverse %}
    <li class="tags-item">
      <a href="/subjects/{{ tag.title | slugify }}" class="tag">
        <span class="tag-title">{{ tag.title | title }}</span>
        <span class="tag-count">{{ tag.count }} {{ 'item' | plural(tag.count) }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}