{% extends "layouts/wrapper.njk" %}
{% from 'components/radios.njk' import radios as radios %}

{% block beforeContent %}
{% if updated %}
<div class="prose prose--flow callout space--margin-bottom-m" role="alert" aria-labelledby="updated-banner-title">
  <h2 id="updated-banner-title" class="h3">Success</h2>
  <p class="space--margin-top-xs">Your style choice was saved.</p> 
</div>
{% endif %}
{{ super() }}
{% endblock %}

{% block content %}
<article class="prose prose--flow">
{{ content | safe }}
</article>

<form class="form space--margin-top-m" action="/time-travel" method="post">

  {% set items = [] %}
  {% for style in styles %}
    {% set thisStyle = {
      id: style.slug,
      title: style.title,
      hint: style.description,
      header: '<img src="' + style.icon + '" alt="" role="presentation">',
      checked: true if userStyle == style.slug
    } %}
    {% set items = items.concat(thisStyle) %}
  {% endfor %}

  {{ radios({
    title: "Which version of this site do you want?",
    id: "style",
    styleAsCards: true,
    items: items
  }) }}

  <button class="form-button">Save style choice</button>
</form>
{% endblock %}