---
title: Grid
css: |
  .grid div:nth-of-type(odd) { background-color: LightGray; }
  .grid div:nth-of-type(even) { background-color: LightSlateGray; }
  .grid div { height: 60px; }
  .grid { margin-bottom: var(--space-l); }
---
<div class="grid">
  <div class="grid-column--x1"></div>
  <div class="grid-column--x11"></div>
</div>

<div class="grid">
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
  <div class="grid-column--x1"></div>
</div>

<div class="grid">
  <div class="grid-column--x3"></div>
  <div class="grid-column--x5"></div>
</div>