---
title: Standard list
---
<ul class="list">
  <li>A list item can be any element, or component.</li>
  <li>A list item can be any element, or component.</li>
  <li>A list item can be any element, or component.</li>
</ul>