---
title: Spacing
css: |
  .example-wrapper div:nth-of-type(odd) { background-color: LightGray; }
  .example-wrapper div:nth-of-type(even) { background-color: LightSlateGray; }
---
<div class="space--padding-bottom-xxs"></div>
<div class="space--padding-bottom-xs"></div>
<div class="space--padding-bottom-s"></div>
<div class="space--padding-bottom-m"></div>
<div class="space--padding-bottom-l"></div>
<div class="space--padding-bottom-xl"></div>
<div class="space--padding-bottom-xxl"></div>