{% from 'components/card.njk' import card as card %}

{% macro articleCard(article) %}

  {% set datePrefix %}
    {% if article.created %}Last updated {% else %}First published {% endif %}
  {% endset %}

  {{ card({
    title: article.title | safe,
    summary: article.introduction or article.summary,
    url: '/articles/' + article.slug,
    cover: {
      url: article.cover
    } if article.cover,
    date: {
      datetime: article.date | date(''),
      title: datePrefix + article.date | date('DD MMMM YYYY')
    }
  }) }}
{% endmacro %}