{% macro collage(params) %}
<div class="collage {{ params.classes }}">
{% for post in params.posts %}
  {% if post.data.photo %}
  <a href="{{ post.url }}" class="collage-link">
  {% img {
    url: post.data.photo[0].url,
    attrs: {
      alt: post.data.photo[0].alt,
      class: 'collage-photo'
    },
    transform: 'square_small'
  } %}
  </a>
  {% endif %}
{% endfor %}
</div>
{% endmacro %}