{% macro meta(params) %}
<dl class="meta {{ params.classes }}">
  {% for item in params.items %}
  {% if item.key or item.value %}
  <div class="meta-item">
    <dt>{{ item.key }}</dt>
    <dd>{{ item.value | safe }}</dd>
  </div>
  {% endif %}
  {% endfor %}
</dl> 
{% endmacro %}