{% macro textInput(params) %}
  <div class="form-group {% if params.error %}form-group--error{% endif %} {% if params.isHoneypot %}form-group--hp{% endif %}">
    <label class="form-label" for="{{ params.id }}">{{ params.title }}</label>
    {% if params.hint %}<div id="{{ params.id }}-hint" class="form-hint">{{ params.hint }}</div>{% endif %}
    {% if params.error %}<div class="form-error-message">{{ params.error }}</div>{% endif %}
    {% if params.isTextarea %}
    <textarea class="form-input {% if params.error %}form-input--error{% endif %}" id="{{ params.id}}" name="{{ params.id}}" {% if params.hint %}aria-describedby="{{ params.id }}-hint"{% endif %} rows="5" {% if params.isHoneypot %}aria-hidden="true" tabindex="-1"{% endif %}>{{ params.value }}</textarea>
    {% else %}
    <input class="form-input {% if params.error %}form-input--error{% endif %}" id="{{ params.id}}" name="{{ params.id}}" value="{{ params.value or ''}}"{% if params.hint %} aria-describedby="{{ params.id }}-hint"{% endif %} inputmode="{{ params.inputmode or 'text'}}" {% if params.isHoneypot %}aria-hidden="true" tabindex="-1"{% endif %}> 
    {% endif %}
  </div>
{% endmacro %}