//theme styles
@import url(roobottom-2021/settings);
@import url(roobottom-2021/fonts);

//global styles
@import url(imports);

//custom css for this theme
.section-home {
  background: linear-gradient(135deg, var(--c-blue-20) 0%, var(--c-pink-20) 50%, var(--c-yellow-20) 100%);
  .site-header,
  .site-footer {
    background: none;
    border: none;
  }
}

.card-cover {
  background-image: none;
  background:
  var(--cover),
  linear-gradient(135deg, var(--c-blue) 0%, var(--c-pink) 100%);
  background-blend-mode:overlay;
  background-size: cover;
}

@media @bp[max] {
  #KangaMenu {
    margin-top: calc(-1 * var(--space-l));
  }
}