.container {
  max-width: unit((@width-max/@base),rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  display: block;
  @media @bp[mid] {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }
}

#container {

  // Mixin without centering
  .prose-flow() {
    max-width: var(--line-length);
  }
}


footer {
  clear: both;
}